.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

  &-block {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 150px;
    height: 175px;
    background: linear-gradient(to top, #333 0%, #666 30%, #333 100%);
    box-shadow: inset 2px 2px 5px 2px #333;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    color: white;

    &-heading {
      font-family: Arial;
      font-size: 18px;
      text-align: center;
    }

    .wrapper {
      padding-top: 12px;
    }

    .wrapper-hor {
      padding-top: 20px;
    }

    .vertical {
      width: 75px;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      input {
        transform: rotate(90deg);
        width: 75px;
      }

      label {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75px;
      }
    }

    .horizontal {
      width: 100px;
      margin: 0 auto;

      input {
        width: 100px;
      }

      label {
        width: 100px;
        display: flex;
        justify-content: space-between;
      }
    }

    .center {
      height: 75px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        margin-top: 10px;
      }
    }

    .hex-container {
      width: 100px;
      margin: 40px auto 0;

      input {
        width: 80px;
      }
    }

    .rgba-container {
      margin: 0 auto;
      width: 100px;

      input {
        width: 80px;
      }
    }
  }
}
